* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
    --p1: #000;
    --p2: #666;
    --p3: #ccc;
    --p4: #fff;
    --pt1: rgba(0, 0, 0, 0.3);
    --pt2: rgba(0, 0, 0, 0.7);
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

header,
footer {
    width: 100%;
    height: 10vh;
    background-color: var(--p1);
    color: var(--p4);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px
}

#cadastro {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#cadastro form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;

    & input,
    button {
        padding: 10px;
        border-radius: 10px;
        margin: 5px;
    }

    & button {
        cursor: pointer;
    }
}

#cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    overflow-y: auto;

    & div{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap:10px;
        background-color: var(--p3);
        color: var(--p1);
        padding: 10px;
        border-radius: 10px;

    }
}

@media screen and (max-width: 800px) {
    main {
        flex-direction: column;
        overflow-y:auto;
    }
}